@import './wrap.scss';

.move-area {
    box-sizing: content-box;
    margin    : 20px auto 0;
    border    : 3px solid $main-color;
    width     : 702px;
    height    : 502px;

    position: relative;
}


// common 每一节
.section {
    position: absolute;
    padding: 1px;

    .bone {
        box-sizing      : border-box;
        width           : 8px;
        height          : 8px;
        border          : 1px solid $main-color;
        display         : flex;
        justify-content : center;
        align-items     : center;

        &::before {
            content         : '';
            width           : 4px;
            height          : 4px;
            background-color: $main-color;
        }
    }
}

// 蛇
#snake,
#food {
    position: absolute;
}

// 蛇
#snake {

    // 蛇的每一节
    .section {
        position: absolute;
        padding : 1px;

        .bone {
            box-sizing     : border-box;
            width          : 9px;
            height         : 9px;
            border         : 1px solid $main-color;
            display        : flex;
            justify-content: center;
            align-items    : center;

            &::before,
            &::after {
                content         : '';
                width           : 2px;
                height          : 2px;
                background-color: $main-color;
            }
        }

        // 蛇头
        &:first-child {
            transform: rotate(90deg);

            .bone {
                justify-content: space-around;
                align-items    : flex-start;

                &::before,
                &::after {
                    content         : '';
                    width           : 2px;
                    height          : 2px;
                    background-color: $main-color;
                }
            }
        }
    }
}

#food {
    left: 100px;
    top: 100px;
}