@import './wrap.scss';

.move-area {
    box-sizing: content-box;
    margin    : 20px auto 0;
    border    : 3px solid $main-color;
    width     : 702px;
    height    : 502px;

    position: relative;
}

// 蛇
#snake {
    position: absolute;

    // 蛇的每一节
    &>div {
        box-sizing      : border-box;
        width           : 10px;
        height          : 10px;
        border          : 1px solid $main-color;
        display         : flex;
        justify-content : center;
        align-items     : center;

        &::before {
            content         : '';
            width           : 6px;
            height          : 6px;
            background-color: $main-color;
        }

        // 蛇头
        &:first-child {
            justify-content : space-around;
            align-items: flex-start;

            &::before,
            &::after {
                content         : '';
                width           : 2px;
                height          : 2px;
                background-color: $main-color;
            }
        }
    }
}

// 食物
#food {
    position: absolute;

    // 临时坐标，后面要删除
    left: 40px;
    top : 100px;

    // 沿用蛇身样式，可后续进行区别优化
    width           : 10px;
    height          : 10px;
    background-color: $main-color;
    border          : 1px solid $bg-color;
    display         : flex;
    justify-content : center;
    align-items     : center;

    &>div {
        width           : 6px;
        height          : 6px;
        background-color: $main-color;
        border          : 1px solid $bg-color;
    }
}